@page "/"
@using System.ComponentModel.DataAnnotations
@using Sectors.Shared.Dtos;

@inject IApiService ApiService
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<PageTitle>Sectors</PageTitle>

<h1>Sectors</h1>

<label name="call_for_action">Please enter your name and pick the Sectors you are currently involved in.</label>

<EditForm Model="CurrentUser" OnInvalidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
<table>
    <tbody>
        <tr>
        <td>
            <div>
                <label>Name</label>
                <InputText name="name" @bind-Value="CurrentUser.Name"></InputText>
                <ValidationMessage For=@(() => CurrentUser.Name) />
                <br>
            </div>
        </td>
        <td>
            <button type="button" class="btn btn-danger" @onclick="@(e => SearchUser(CurrentUser.Name))">Search user</button>
        </td>
        </tr>
     </tbody>
  </table>

  <br>

    @if (SectorList == null)
    {
        @if (Loading == false)
       {
           
       }
        else
        {
            <p><em>Loading...</em></p>
        }
    }
    else
    {
        
        @if (@*CurrentUser.Id.Equals(0)*@ true)
        {
            <CreateUserTitle></CreateUserTitle>
        }
        else
        {
            <EditUserTitle></EditUserTitle>
        }
        <br>
        <SelectList Items="SectorList" @bind-SelectedItems="SelectedSectors" Context="sector">
            <ItemTemplate>
                @sector.Name
            </ItemTemplate>
        </SelectList>

    <hr />

    <ul>
        @foreach (var item in SelectedSectors)
        {
            <li>@item.SectorId : @item.Name</li>
        }
    </ul>
    <br>
    <p>CurrentUser empty: @CurrentUser.Agreed.Equals(null)</p>
    <br>
    <br>
    <InputCheckbox name="agreement" @bind-Value=CurrentUser.Agreed></InputCheckbox>
    <ValidationMessage For=@(() => CurrentUser.Agreed) />
    <label for="agreement">Agree to terms</label>
    <br>
    <br>
    <button @onclick="HandleSubmit" name="submit" type="submit">Submit</button>
    }
</EditForm>

@code {
    public List<SectorDto> SelectedSectors { get; set; } = new();
    private List<SectorDto> SectorList;
    private List<SectorDto> sectors;
    public UserDto CurrentUser { get; set; } = new();
    public EventCallback<List<SectorDto>> SelectedSectorsChanged { get; set; }
    bool Loading = false;

    protected override async void OnInitialized()
    {
        sectors = await ApiService.GetSectors();
    }

    private void ClearForm()
    {
        SectorList = null;
        SelectedSectors = new();
        CurrentUser = new();
    }

    async Task SearchUser(string nameInput)
    {
        ClearForm();

        if (nameInput.Length > 0)
        {
            Loading = true;

            CurrentUser = await ApiService.GetUserByName(nameInput);
            CurrentUser.Name = nameInput;

            if (!CurrentUser.Sectors.Count.Equals(0))
            {
                foreach (var sectorId in CurrentUser.Sectors.Select(s => s.SectorId))
                {
                    SelectedSectors.Add(sectors.Where(i => i.SectorId == sectorId).FirstOrDefault());
                }
            }

            Loading = false;
            SectorList = sectors;
        }
    }

    async void HandleSubmit()
    {
        CurrentUser.CurrentSelectedSectorIds = SelectedSectors.Select(ss => ss.SectorId).ToArray();
        if (CurrentUser.Sectors.Count.Equals(0))
        {
            await ApiService.CreateUser(CurrentUser);
        }
        //else
        //{
        //    await ApiService.UpdateUser(CurrentUser, SelectedSectors);
        //}
    }
}
